
#Azure
azure-common
azure-identity
azure-mgmt-network<=29.0.0
azure-mgmt-keyvault<12
azure-mgmt-authorization
azure-mgmt-containerregistry
azure-mgmt-core
azure-mgmt-resource
azure-mgmt-storage
azure-storage-blob
azure-storage-file-datalake
azure-storage-file-share
azure-graphrbac>=0.40,<1.0.0
azureml-core
azureml-dataprep
azureml-dataprep-native
azureml-dataprep-rslex
azureml-fsspec
azure-ai-ml
azureml-mlflow

# Other
docker
msal
msal-extensions
opencensus-ext-azure
opencensus-ext-logging
msrestazure
opentelemetry-api
opentelemetry-sdk
